## Pandas ++
[referencia rapida](https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_r.html#quick-reference)

In [ ]:
# vamos pensar em manipulação de dados fazendo um paralelo com o dplyr.
# dplyr: 6 verbos principais
# select()    # seleciona colunas do data.frame
# arrange()   # reordena as linhas do data.frame
# filter()    # filtra linhas do data.frame
# mutate()    # cria novas colunas no data.frame (ou atualiza as colunas existentes)
# summarise() + group_by() # sumariza o data.frame
# left_join   # junta dois data.frames

### Exercícios

Os exercícios abaixo consideram a base do IMDB.

In [16]:
# Objetivo 1: descobrir qual o filme mais caro, 
# e com melhor nota dos anos 2000

import pandas as pd
import numpy as np

imdb = pd.read_csv("../dados/imdb.csv", encoding="UTF-8")
imdb

# utilizando a sintaxe do pandas

## filme mais caro dos anos 2000:
(imdb.
    query("ano>=2000 & ano < 2010").
    query("orcamento == orcamento.max()"))


## filme com a maior nota dos anos 2000:
(imdb.
    query("ano>=2000 & ano < 2010").
    query("nota_imdb == nota_imdb.max()"))

,id_filme,titulo,ano,data_lancamento,generos,duracao,pais,idioma,orcamento,receita,receita_eua,nota_imdb,num_avaliacoes,direcao,roteiro,producao,elenco,descricao,num_criticas_publico,num_criticas_critica
6483,tt0419781,Graves End,2005.0,2005-04-22,"Thriller, Mystery",90,USA,English,1930000.0,NaN,NaN,8.8,6494,James Marlowe,"Rick Askew, James Marlowe",Marlowe/Pugnetti Company,"Eric Roberts, Steven Williams, Daniel Roebuck,...",When society turns their back on reformed felo...,25.0,1.0

In [28]:
# Objetivo 2: pegar todos os filmes que sejam do genero "Comedy"

imdb[imdb["generos"].str.contains("Comedy")] #escrever duas vezes o objeto entre colchetes faz manter um dataframe

,titulo,ano,diretor,duracao,cor,generos,pais,classificacao,orcamento,receita,nota_imdb,likes_facebook,ator_1,ator,
5,Tangled,2010.0,Nathan Greno,100.0,Color,Adventure|Animation|Comedy|Family|Fantasy|Musi...,USA,Livre,260000000.0,200807262.0,7.8,29000.0,Brad Garrett,Donna Murphy,M.C. Gainey
15,Men in Black 3,2012.0,Barry Sonnenfeld,106.0,Color,Action|Adventure|Comedy|Family|Fantasy|Sci-Fi,USA,A partir de 13 anos,225000000.0,179020854.0,6.8,40000.0,Will Smith,Michael Stuhlbarg,Nicole Scherzinger
27,Monsters University,2013.0,Dan Scanlon,104.0,Color,Adventure|Animation|Comedy|Family|Fantasy,USA,Outros,200000000.0,268488329.0,7.3,44000.0,Steve Buscemi,Tyler Labine,Sean Hayes
33,Cars 2,2011.0,John Lasseter,106.0,Color,Adventure|Animation|Comedy|Family|Sport,USA,Outros,200000000.0,191450875.0,6.3,10000.0,Joe Mantegna,Thomas Kretschmann,Eddie Izzard
35,Toy Story 3,2010.0,Lee Unkrich,103.0,Color,Adventure|Animation|Comedy|Family|Fantasy,USA,Outros,200000000.0,414984497.0,8.3,30000.0,Tom Hanks,John Ratzenberger,Don Rickles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3698,The Puffy Chair,2005.0,Jay Duplass,85.0,Color,Comedy|Drama|Romance,USA,A partir de 18 anos,15000.0,192467.0,6.6,297.0,Mark Duplass,Katie Aselton,Bari Hyman
3701,Pink Flamingos,1972.0,John Waters,108.0,Color,Comedy|Crime|Horror,USA,A partir de 18 anos,10000.0,180483.0,6.1,0.0,Divine,Mink Stole,Edith Massey
3703,Sanctuary; Quite a Conundrum,2012.0,Thomas L. Phillips,82.0,Color,Comedy|Horror|Thriller,USA,Outros,200000.0,NaN,5.4,424.0,Julianna Pitt,Joe Coffey,John Lucas
3708,Newlyweds,2011.0,Edward Burns,95.0,Color,Comedy|Drama,USA,Outros,9000.0,4584.0,6.4,413.0,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda
3711,Shanghai Calling,2012.0,Daniel Hsia,100.0,Color,Comedy|Drama|Romance,USA,A partir de 13 anos,NaN,10443.0,6.3,660.0,Alan Ruck,Daniel Henney,Eliza Coupe

### Mutate

In [29]:
import pandas as pd

imdb = pd.read_csv("../dados/imdb.csv")
imdb_simples = imdb.filter(["titulo", "ano"])

Bad pipe message: %s [b';\x9d\xa8_\xed\xa8w\xf0\xaf\x92<\x1b\xb4\x9cT\xe3b\xc0\x00\x00|\xc0,']
Bad pipe message: %s [b"\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0\xaf\xc0\xad\xc0\xa3\xc0\x9f\xc0]\xc0a\xc0W\xc0S\xc0+\xc0/\x00\xa2\x00\x9e\xc0\xae\xc0\xac\xc0\xa2\xc0\x9e\xc0\\\xc0`\xc0V\xc0R\xc0$\xc0(\x00k\x00j\xc0#\xc0'\x00g\x00@\xc0\n\xc0\x14\x009\x008\xc0\t\xc0\x13\x003\x002\x00\x9d\xc0\xa1\xc0\x9d\xc0Q\x00\x9c\xc0\xa0\xc0\x9c\xc0P\x00=\x00<\x005\x00/\x00\x9a\x00\x99\xc0\x07\xc0\x11\x00\x96\x00\x05\x00\xff\x01\x00\x00j\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x000\x00.\x04\x03\x05\x03\x06\x03\x08"]
Bad pipe message: %s [b'cB\x8cB\x1e\x02\xc0US\xe61\x8c\xb1:\xd3\xc9gI\x00\x00\xa6\xc0,\xc00\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0\xaf\xc0\xad\xc0\xa3\xc0\x9f\xc0]\xc0a\xc0W\xc0S\xc0+\xc0/\x00\xa2\x00\x9e\xc0\xae\xc0\xac\xc0\xa2\xc0\x9e\xc0\\\xc0`', b"\xc0R\xc0$\xc0(\x00k\x00j\xc0s\xc0w\x00\xc4\x00\xc3\xc0#\xc0'\x00g\x00@\xc0r\xc0v\x00\xbe\x00\xbd\xc0\n\xc0\x14\x009\x008\x00\x88\x00\x87\xc0\t\xc0\x13\x003\x002\x00\x9a\x00\x99\x00E\x00D\xc0\x07\xc0\x11\xc0\x08\xc0\x12\x00\x16\x00\x13\x00\x9d\xc0\xa1\xc0\x9d\xc0Q\x00\x9c\xc0\xa0\xc0\x9c\xc0P\x00=\x00\xc0\x00<\x00\xba\x005\x00\x84\x00/\x00\x96\x00A\x00\x05\x00\n\x00\xff\x01\x00\x00j\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x000\x00.\x04\x03\x05\x03\x06\x03\x08\x07\x08\x08\x08\t\x08"]
Bad pipe message: %s [b'\xd7\x1d\x910W=[ \x06\x1a\xc8I\x9f\x04E\xe2\xab\xce\x00\x00>\xc0\x14\xc0\n\x009\x008\x007\x006\xc0\x0f\xc0\x05\x005\xc0\x13\xc0\t\x003\x002\x001\x000\xc0\x0e\xc0\x04\x00/\x00\x9a\x00\x99\x00\x98\x00\x97\x00\x96\x00\x07\xc0\x11\xc0\x07\xc0\x0c\xc0\x02\x00\x05\x00\x04\x00\xff\x02\x01\x00\x00']
Bad pipe message: %s [b'\xa0,):2;\xea\xe85Jo\xb2H\x00\xef8\xcf\xcd\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x00', b'1\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00\x9b\x00F\xc0\x0e\xc0\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c']
Bad pipe message: %s [b'\xa5[\xe5\x8e\x1f\x83\t\xe4\xbb\x87\x8d\xd8\xf4{\xa1\x81\xb9\x08\x00\x00>']
Bad pipe message: %s [b"\x89\xfa\xcb\xe4P\x04\xf5k\x8c\x96\xab\x92\x16\xdbM\x7f|\x87\x00\x00\xf4\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00\xa7\x00m\x00:\x00\x89\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\x00\x84\xc0/\xc0+\xc0'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x00\xa6\x00l\x004\x00\x9b\x00F\xc01\xc0-\xc0)\xc0%\xc0\x0e\xc0\x04\x00", b'<\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a\x00\t\x00\x14\x00\x11\x00\x19\x00\x08\x00\x06\x00\x17\x00\x03\xc0\x10\xc0\x06\xc0\x15\xc0\x0b\xc0\x01\x00;\x00\x02\x00\x01\x00\xff\x02\x01\x00\x00g\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x1c\x00\x1a\x00\x17\x00\x19\x00\x1c\x00\x1b\x00\x18\x00\x1a\x00\x16\x00\x0e\x00\r\x00\x0b\x00\x0c\x00\t\x00\n\x00']
Bad pipe message: %s [b'']
Bad pipe message: %s [b'\xbd\x1a\\fZ\x17\x1a\xffY\xcdX\x04\xeeq=\xd3r|\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00\x9b\x00F\xc0\x0e\xc0\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a']
Bad pipe message: %s [b'\x08\x08\t\x08\n\x08']
Bad pipe message: %s [b'\x0b\x08\x04\x08\x05\x08\x06\x04\x01']
Bad pipe message: %s [b'\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x1c\x00\x1a\x00\x17\x00\x19\x00\x1c\x00\x1b\x00\x18\x00\x1a\x00\x16\x00\x0e\x00\r\x00\x0b\x00\x0c\x00\t\x00\n\x00#\x00\x00\x00\x0f\x00\x01\x01']
Bad pipe message: %s [b'\x064XC*\x89J\xd7\xb3\xc7\xe7\xeb\x1b\x1e\xf1F\x00\x00\x86\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\xc02']
Bad pipe message: %s [b'\x00\x00\r\x00 \x00\x1e\x06\x01\x06\x02\x06\x03\x05\x01\x05\x02\x05\x03\x04\x01\x04\x02\x04\x03\x03\x01\x03\x02\x03\x03\x02\x01\x02']
Bad pipe message: %s [b'\x04\x08\x05\x08\x06\x04\x01\x05\x01\x06']
Bad pipe message: %s [b'\x06\x01\x03\x03', b'\x03', b'']
Bad pipe message: %s [b'\x03']
Bad pipe message: %s [b"\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\xc0/\xc0+\xc0'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\xc01\xc0-\xc0)\xc0%\xc0\x0e\xc0\x04\x00\x9c\x00<\x00/\x00\x9a\x00\x99\x00\x98\x00\x97\x00\x96\x00\x07\xc0\x11\xc0\x07\xc0\x0c\xc0\x02\x00\x05\x00\x04\x00\xff\x02\x01\x00\x00g\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x1c\x00\x1a\x00\x17\x00\x19\x00\x1c\x00\x1b\x00\x18\x00\x1a\x00\x16\x00\x0e\x00\r\x00\x0b\x00\x0c\x00\t\x00\n\x00#\x00\x00\x00\r\x00 \x00\x1e\x06\x01\x06\x02\x06\x03\x05\x01\x05\x02\x05\x03\x04\x01\x04\x02\x04\x03\x03\x01\x03\x02\x03\x03"]
Bad pipe message: %s [b'', b'\x03\x03']
Bad pipe message: %s [b'', b'\x02']
Bad pipe message: %s [b'\x02', b'\x03']
Bad pipe message: %s [b'']
Bad pipe message: %s [b'\x05\x02\x06']
Bad pipe message: %s [b'', b'\x02']
Bad pipe message: %s [b'\x05\x02\x06']

In [8]:
imdb_simples.assign(
    coluna_nova = imdb_simples.filter(['ano']) < 1945,
    # não é muito recomendado fazer isso ^
    coluna_nova2 = imdb_simples.ano < 1945,
    # esse é o jeito legal de criar essa coluna ^
    coluna_numero = imdb_simples.ano-1900
)

,titulo,ano,coluna_nova,coluna_nova2,coluna_numero
0,Prestige,1931.0,True,True,31.0
1,Nob Hill,1945.0,False,False,45.0
2,The Shade,1999.0,False,False,99.0
3,Viewer Discretion Advised,1998.0,False,False,98.0
4,Broadcast News,1987.0,False,False,87.0
...,...,...,...,...,...
28485,Jumanji: The Next Level,2019.0,False,False,119.0
28486,Monster on the Campus,1958.0,False,False,58.0
28487,The Ward,2010.0,False,False,110.0
28488,A Game of Death,1945.0,False,False,45.0
28489,Swimfan,2002.0,False,False,102.0

In [9]:
(imdb.assign(
    lucro = lambda x: x.receita-x.orcamento, # lambda é um jeito de criar uma função anônima, sem nome
    # essa linha é igual a trocar o x. por imdb. e tirar o "lambda x"
    # x. vira imdb., então:  x.receita-x.orcamento vira imdb.receita-imdb.orcamento
    categoria_lucrou = lambda x: x.lucro > 0,
    duracao = imdb.duracao/60
).
 filter(["titulo","ano", "lucro", "duracao", "categoria_lucrou"]))

,titulo,ano,lucro,duracao,categoria_lucrou
0,Prestige,1931.0,NaN,1.183333,False
1,Nob Hill,1945.0,NaN,1.583333,False
2,The Shade,1999.0,NaN,1.383333,False
3,Viewer Discretion Advised,1998.0,NaN,1.750000,False
4,Broadcast News,1987.0,47331309.0,2.216667,True
...,...,...,...,...,...
28485,Jumanji: The Next Level,2019.0,671575993.0,2.050000,True
28486,Monster on the Campus,1958.0,NaN,1.283333,False
28487,The Ward,2010.0,-4656180.0,1.483333,False
28488,A Game of Death,1945.0,NaN,1.200000,False
28489,Swimfan,2002.0,24411240.0,1.416667,True

In [10]:
imdb2 = imdb
imdb2['lucrou'] = imdb2['receita'] > imdb2['orcamento']
imdb2.filter(["lucrou"])

       lucrou
0       False
1       False
2       False
3       False
4        True
...       ...
28485    True
28486   False
28487   False
28488   False
28489    True

[28490 rows x 1 columns]

In [12]:
imdb = imdb.drop(["lucrou"], axis = "columns")

In [14]:
imdb2 = imdb.copy()
imdb2['lucrou'] = imdb2['receita'] > imdb2['orcamento']
imdb2.filter(["lucrou"])

       lucrou
0       False
1       False
2       False
3       False
4        True
...       ...
28485    True
28486   False
28487   False
28488   False
28489    True

[28490 rows x 1 columns]

In [38]:
# case when
import numpy as np
lucrou_df = imdb.assign(
    lucro = lambda x: x["receita"] - x['orcamento'],
    lucrou_bastante = lambda x: np.select(
        [x.lucro >  1000000, x.lucro > 0, x.lucro.isnull()], 
        ["Mais de milhão", "Pouco", "Sem info"], 
        "Não lucrou"
    )
).filter(["lucro", "lucrou_bastante"])

In [40]:
lucrou_df.lucrou_bastante.value_counts()

Sem info          23758
Mais de milhão     2403
Não lucrou         2148
Pouco               181
Name: lucrou_bastante, dtype: int64

### Exercícios

In [7]:
# Obter um dataframe com os filmes que deram prejuizo.
(imdb.
    assign(
    prejuizo = lambda x: x.receita - x.orcamento,
    deu_prejuizo = lambda x: x.receita < x.orcamento
).
    query("deu_prejuizo").
    filter(["titulo", "prejuizo"])
)

# Outra forma de se fazer:

filmes_preju = imdb.assign(
    lucro = imdb.receita - imdb.orcamento
).query("lucro < 0").sort_values("lucro")
filmes_preju

,titulo,ano,diretor,duracao,cor,generos,pais,classificacao,orcamento,receita,nota_imdb,likes_facebook,ator_1,ator,,lucro
3,John Carter,2012.0,Andrew Stanton,132.0,Color,Action|Adventure|Sci-Fi,USA,A partir de 13 anos,263700000.0,73058679.0,6.6,24000.0,Daryl Sabara,Samantha Morton,Polly Walker,-190641321.0
80,The Polar Express,2004.0,Robert Zemeckis,100.0,Color,Adventure|Animation|Family|Fantasy,USA,Outros,165000000.0,665426.0,6.6,10000.0,Tom Hanks,Eddie Deezen,Peter Scolari,-164334574.0
22,Battleship,2012.0,Peter Berg,131.0,Color,Action|Adventure|Sci-Fi|Thriller,USA,A partir de 13 anos,209000000.0,65173160.0,5.9,44000.0,Liam Neeson,Alexander Skarsgård,Tadanobu Asano,-143826840.0
74,47 Ronin,2013.0,Carl Rinsch,128.0,Color,Action|Adventure|Drama|Fantasy,USA,A partir de 13 anos,175000000.0,38297305.0,6.3,35000.0,Keanu Reeves,Cary-Hiroyuki Tagawa,Jin Akanishi,-136702695.0
41,Jack the Giant Slayer,2013.0,Bryan Singer,114.0,Color,Adventure|Fantasy,USA,A partir de 13 anos,195000000.0,65171860.0,6.3,22000.0,Eddie Marsan,Ewen Bremner,Ralph Brown,-129828140.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3689,Pink Narcissus,1971.0,James Bidgood,65.0,Color,Drama|Fantasy,USA,Outros,27000.0,8231.0,6.7,85.0,Don Brooks,Bobby Kendall,NaN,-18769.0
3359,Slam,1998.0,Marc Levin,100.0,Color,Drama,USA,A partir de 18 anos,1000000.0,982214.0,7.2,603.0,Sonja Sohn,Saul Williams,Bonz Malone,-17786.0
3170,Shortbus,2006.0,John Cameron Mitchell,101.0,Color,Comedy|Drama|Romance,USA,Outros,2000000.0,1984378.0,6.5,0.0,Sook-Yin Lee,Peter Stickles,Raphael Barker,-15622.0
3708,Newlyweds,2011.0,Edward Burns,95.0,Color,Comedy|Drama,USA,Outros,9000.0,4584.0,6.4,413.0,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,-4416.0
3627,The Horse Boy,2009.0,Michel Orion Scott,93.0,Color,Documentary,USA,Outros,160000.0,155984.0,7.4,0.0,Temple Grandin,Rowan Isaacson,Simon Baron-Cohen,-4016.0

In [8]:
# Obter os filmes que possuem a palavra 'love' no título.
(imdb.assign(
    tem_love = lambda x: x.titulo.str.contains(r"\blove\b", case = False)
    ).
    query("tem_love")
)

,titulo,ano,diretor,duracao,cor,generos,pais,classificacao,orcamento,receita,nota_imdb,likes_facebook,ator_1,ator,,tem_love
605,The Love Guru,2008.0,Marco Schnabel,87.0,Color,Comedy|Romance|Sport,USA,A partir de 13 anos,62000000.0,32178777.0,3.8,0.0,Justin Timberlake,Romany Malco,Verne Troyer,True
631,Eat Pray Love,2010.0,Ryan Murphy,140.0,Color,Drama|Romance,USA,A partir de 13 anos,60000000.0,80574010.0,5.7,26000.0,James Franco,Julia Roberts,Billy Crudup,True
820,"Crazy, Stupid, Love.",2011.0,Glenn Ficarra,118.0,Color,Comedy|Drama|Romance,USA,A partir de 13 anos,50000000.0,84244877.0,7.4,44000.0,Ryan Gosling,Emma Stone,Steve Carell,True
853,For Love of the Game,1999.0,Sam Raimi,137.0,Color,Drama|Romance|Sport,USA,A partir de 13 anos,50000000.0,35168395.0,6.5,0.0,J.K. Simmons,Kelly Preston,Carmine Giovinazzo,True
963,Love in the Time of Cholera,2007.0,Mike Newell,139.0,Color,Drama|Romance,USA,A partir de 18 anos,45000000.0,4584886.0,6.4,0.0,Marcela Mar,Giovanna Mezzogiorno,Unax Ugalde,True
1033,"I Love You, Man",2009.0,John Hamburg,105.0,Color,Comedy|Romance,USA,A partir de 18 anos,40000000.0,71347010.0,7.1,0.0,J.K. Simmons,Jon Favreau,Jane Curtin,True
1209,Must Love Dogs,2005.0,Gary David Goldberg,98.0,Color,Comedy|Romance,USA,A partir de 13 anos,30000000.0,43894863.0,5.9,0.0,Stockard Channing,Victor Webster,Elizabeth Perkins,True
1364,P.S. I Love You,2007.0,Richard LaGravenese,126.0,Color,Drama|Romance,USA,A partir de 13 anos,30000000.0,53680848.0,7.1,20000.0,Gerard Butler,Harry Connick Jr.,Nellie McKay,True
1415,Love & Other Drugs,2010.0,Edward Zwick,112.0,Color,Comedy|Drama|Romance,USA,A partir de 18 anos,30000000.0,32357532.0,6.7,24000.0,Jake Gyllenhaal,Anne Hathaway,Judy Greer,True
1513,Shakespeare in Love,1998.0,John Madden,123.0,Color,Comedy|Drama|Romance,USA,A partir de 18 anos,25000000.0,100241322.0,7.2,0.0,Tom Wilkinson,Martin Clunes,Simon Callow,True
1536,Accidental Love,2015.0,David O. Russell,100.0,Color,Comedy|Romance,USA,A partir de 13 anos,26000000.0,NaN,4.0,0.0,Jake Gyllenhaal,Kirstie Alley,Beverly D'Angelo,True
1599,A Lot Like Love,2005.0,Nigel Cole,107.0,Color,Comedy|Drama|Romance,USA,A partir de 13 anos,30000000.0,21835784.0,6.6,0.0,Aimee Garcia,Tyrone Giordano,James Read,True
1606,Punch-Drunk Love,2002.0,Paul Thomas Anderson,95.0,Color,Comedy|Drama|Romance|Thriller,USA,A partir de 18 anos,25000000.0,17791031.0,7.3,0.0,Adam Sandler,Emily Watson,Don McManus,True
1645,Love Ranch,2010.0,Taylor Hackford,117.0,Color,Comedy|Drama|Romance|Sport,USA,A partir de 18 anos,25000000.0,134904.0,5.7,636.0,Scout Taylor-Compton,Bai Ling,Gil Birmingham,True
1730,To Rome with Love,2012.0,Woody Allen,112.0,Color,Comedy|Romance,USA,A partir de 18 anos,17000000.0,16684352.0,6.3,18000.0,Ornella Muti,Judy Davis,Alessandra Mastronardi,True
1824,Endless Love,2014.0,Shana Feste,104.0,Color,Drama|Romance,USA,A partir de 13 anos,20000000.0,23393765.0,6.3,0.0,Alex Pettyfer,Bruce Greenwood,Rhys Wakefield,True
1842,Capitalism: A Love Story,2009.0,Michael Moore,105.0,Color,Crime|Documentary|News,USA,A partir de 18 anos,NaN,14359793.0,7.4,10000.0,Ronald Reagan,Michael Moore,Bernie Sanders,True
1862,Everyone Says I Love You,1996.0,Woody Allen,101.0,Color,Comedy|Musical|Romance,USA,A partir de 18 anos,20000000.0,9714482.0,6.8,0.0,Natasha Lyonne,Gaby Hoffmann,Jeff DeRocker,True
1903,Sea of Love,1989.0,Harold Becker,113.0,Color,Crime|Drama|Mystery|Thriller,USA,A partir de 18 anos,19000000.0,58571513.0,6.8,0.0,Al Pacino,Michael O'Neill,Ellen Barkin,True
1960,Love Happens,2009.0,Brandon Camp,109.0,Color,Drama|Romance,USA,A partir de 13 anos,18000000.0,22927390.0,5.6,0.0,Judy Greer,Sasha Alexander,Frances Conroy,True
1966,Love the Coopers,2015.0,Jessie Nelson,107.0,Color,Comedy,USA,A partir de 13 anos,17000000.0,26284475.0,5.7,0.0,Olivia Wilde,Alex Borstein,Timothée Chalamet,True
2104,What's Love Got to Do with It,1993.0,Brian Gibson,118.0,Color,Biography|Drama|Music,USA,A partir de 18 anos,NaN,39100956.0,7.2,0.0,Rae'Ven Kelly,Virginia Capers,Dororthy Thorton,True
2122,Love & Basketball,2000.0,Gina Prince-Bythewood,124.0,Color,Drama|Romance|Sport,USA,A partir de 13 anos,15000000.0,27441122.0,7.2,0.0,Alfre Woodard,Sanaa Lathan,Omar Epps,True
2163,The Love Letter,1998.0,Dan Curtis,99.0,Color,Fantasy|Romance,USA,Outros,NaN,NaN,7.4,515.0,Jennifer Jason Leigh,Campbell Scott,Estelle Parsons,True
2212,I Think I Love My Wife,2007.0,Chris Rock,94.0,Color,Comedy|Drama|Romance,USA,A partir de 18 anos,NaN,12550242.0,5.5,488.0,Steve Buscemi,Eliza Coupe,Wendell Pierce,True
2459,Love Jones,1997.0,Theodore Witcher,104.0,Color,Drama|Romance,USA,A partir de 18 anos,10000000.0,12514138.0,7.4,1000.0,Leonard Roberts,Nia Long,Larenz Tate,True
2582,A Thin Line Between Love and Hate,1996.0,Martin Lawrence,108.0,Color,Comedy|Crime|Drama|Romance|Thriller,USA,A partir de 18 anos,8000000.0,34746109.0,5.6,559.0,Faizon Love,Lynn Whitfield,Della Reese,True
2738,Goddess of Love,2015.0,Jon Knautz,93.0,Color,Drama|Horror|Mystery|Thriller,USA,Outros,NaN,NaN,5.4,84.0,Rachel Alig,Monda Scott,Alexis Kendra,True
2931,Love Stinks,1999.0,Jeff Franklin,94.0,Color,Comedy,USA,A partir de 18 anos,4000000.0,2800000.0,5.8,309.0,Ivana Milicevic,Tyra Banks,Bridgette Wilson-Sampras,True
2955,How to Fall in Love,2012.0,Mark Griffiths,84.0,Color,Comedy|Romance,USA,Outros,4000000.0,NaN,6.3,170.0,Eric Mabius,Gina Holden,Brooke D'Orsay,True
3040,Kama Sutra: A Tale of Love,1996.0,Mira Nair,109.0,Color,Crime|Drama|History|Romance,USA,A partir de 18 anos,3000000.0,4109095.0,6.0,0.0,Indira Varma,Sarita Choudhury,Rekha,True
3055,Love's Abiding Joy,2006.0,Michael Landon Jr.,87.0,Color,Drama|Family|Western,USA,Livre,3000000.0,252726.0,7.2,76.0,William Morgan Sheppard,Kevin Gage,Brianna Brown,True
3202,The Ghastly Love of Johnny X,2012.0,Paul Bunnell,106.0,Black and White,Comedy|Fantasy|Musical|Sci-Fi,USA,Outros,2000000.0,2436.0,5.7,655.0,Kate Maberly,Kevin McCarthy,Paul Williams,True
3214,Brotherly Love,2015.0,Jamal Hill,89.0,Color,Drama,USA,A partir de 18 anos,1900000.0,444044.0,7.2,1000.0,Logan Browning,Adam Ratcliffe,Faizon Love,True
3216,Dr. Strangelove or: How I Learned to Stop Worr...,1964.0,Stanley Kubrick,95.0,Black and White,Comedy,USA,Livre,1800000.0,NaN,8.5,18000.0,George C. Scott,Slim Pickens,Keenan Wynn,True
3242,I Love Your Work,2003.0,Adam Goldberg,111.0,Color,Drama|Mystery,USA,A partir de 18 anos,1650000.0,2580.0,5.4,63.0,Judy Greer,Marisa Coughlan,Nicky Katt,True
3341,Love Me Tender,1956.0,Robert D. Webb,89.0,Black and White,Drama|Romance|Western,USA,Outros,1000000.0,NaN,6.2,365.0,James Drury,Neville Brand,Debra Paget,True
3367,Wristcutters: A Love Story,2006.0,Goran Dukic,88.0,Color,Comedy|Drama|Fantasy|Romance,USA,A partir de 18 anos,1000000.0,104077.0,7.4,11000.0,Leslie Bibb,Patrick Fugit,Chase Ellison,True
3407,And Then Came Love,2007.0,Richard Schenkman,90.0,Color,Comedy|Romance,USA,Outros,989000.0,NaN,4.8,42.0,Vanessa Williams,Mike Colter,Eartha Kitt,True
3440,All the Boys Love Mandy Lane,2006.0,Jonathan Levine,90.0,Color,Horror,USA,A partir de 18 anos,750000.0,NaN,5.6,2000.0,Luke Grimes,Michael Welch,Whitney Able,True
3470,Love Letters,1983.0,Amy Holden Jones,88.0,Color,Drama|Romance,USA,A partir de 18 anos,550000.0,NaN,6.1,7.0,Jamie Lee Curtis,Sally Kirkland,Amy Madigan,True
3532,Love in the Time of Monsters,2014.0,Matt Jackson,97.0,Color,Comedy|Horror,USA,Outros,500000.0,NaN,5.4,194.0,Kane Hodder,Paul Elia,Alex Sanborn,True
3536,Intolerance: Love's Struggle Throughout the Ages,1916.0,D.W. Griffith,123.0,Black and White,Drama|History|War,USA,Outros,385907.0,NaN,8.0,691.0,Lillian Gish,Mae Marsh,Walter Long,True
3555,"First Love, Last Rites",1997.0,Jesse Peretz,94.0,Color,Drama|Romance,USA,A partir de 18 anos,300000.0,40542.0,5.5,26.0,Robert John Burke,Eli Marienthal,Natasha Gregson Wagner,True
3570,The Incredibly True Adventure of Two Girls in ...,1995.0,Maria Maggenti,94.0,Color,Comedy|Drama|Romance,USA,A partir de 18 anos,250000.0,1977544.0,6.5,423.0,Nicole Ari Parker,Laurel Holloman,Stephanie Berry,True
3657,"I Love You, Don't Touch Me!",1997.0,Julie Davis,86.0,Color,Comedy|Romance,USA,A partir de 18 anos,NaN,33598.0,5.4,97.0,Jack McGee,Meredith Scott Lynn,Tim DeZarn,True

In [17]:
# Obter os files com gênero 'Drama' e ordernar pela quantidade de
# vezes que a palavra 'woman' (mulher) aparece na descrição.

df = (imdb.
    assign(
        eh_drama = lambda x: x.generos.str.contains("Drama"),
        n_woman = lambda x: x.descricao.str.lower().str.count(r"\bwoman\b")
    ).
    query("eh_drama").
    sort_values(['n_woman'], ascending = False)
)
df.descricao.iloc[0]

"A seductive woman who left her small fishing town long ago, after being caught with another woman's husband, returns to shake up the place by seducing everyone, including the woman and her girlfriends."

### Summarise

In [19]:
imdb.filter(["duracao", "orcamento"]).agg(["mean", "sum", "count"])

            duracao     orcamento
mean   9.305483e+01  1.213561e+07
sum    2.651132e+06  1.270598e+11
count  2.849000e+04  1.047000e+04

In [20]:
imdb.agg({
  "duracao": ["mean"],
  "orcamento": ["mean", "count"]
})

         duracao     orcamento
mean   93.054826  1.213561e+07
count        NaN  1.047000e+04

In [98]:
imdb.groupby(["ano"], as_index = False).agg(
  duracao_media = ("duracao", "mean"),
  desv_pad_duracao = ("duracao", "std"),
  receita_max = ("receita", max)
)

        ano  duracao_media  desv_pad_duracao   receita_max
0    1894.0      45.000000               NaN           NaN
1    1912.0      80.000000         28.284271           NaN
2    1913.0      88.000000               NaN           NaN
3    1914.0      73.312500         35.254728           NaN
4    1915.0      74.066667         34.900812           NaN
..      ...            ...               ...           ...
105  2016.0      93.359033         13.625927  1.153332e+09
106  2017.0      92.982320         13.029991  1.332540e+09
107  2018.0      93.658014         13.717957  2.048360e+09
108  2019.0      95.173104         18.143177  2.797801e+09
109  2020.0      94.615942         14.667130  2.018585e+08

[110 rows x 4 columns]

In [96]:
imdb.groupby('ano', as_index=False).apply(lambda x: pd.DataFrame({
    "duracao_media": [x.duracao.mean()],
    "desv_pad_duracao": [x.duracao.std()],
    "receita_max": [x.receita.max()],
    "lucro_medio": [(x.receita - x.orcamento).mean()]
}))

       duracao_media  desv_pad_duracao   receita_max   lucro_medio
0   0      45.000000               NaN           NaN           NaN
1   0      80.000000         28.284271           NaN           NaN
2   0      88.000000               NaN           NaN           NaN
3   0      73.312500         35.254728           NaN           NaN
4   0      74.066667         34.900812           NaN           NaN
...              ...               ...           ...           ...
105 0      93.359033         13.625927  1.153332e+09  7.237195e+07
106 0      92.982320         13.029991  1.332540e+09  9.284472e+07
107 0      93.658014         13.717957  2.048360e+09  1.122318e+08
108 0      95.173104         18.143177  2.797801e+09  1.275660e+08
109 0      94.615942         14.667130  2.018585e+08 -4.284901e+06

[110 rows x 4 columns]

### Exercícios

In [ ]:
# Obtenha os 10 anos com as as maiores notas médias do IMDB.
# Coloque em um data frame ordenando pela média das notas.

In [ ]:
# Obtenha a proporção de filmes que deram prejuizo por ano.

### Left join

In [18]:
lucro_direcao = (imdb.
    assign(
        lucro = lambda x: x.receita - x.orcamento
    ).
    groupby(["direcao"], as_index = False).
    agg(
        lucro_medio = ('lucro', 'mean')
    )
)
lucro_direcao

                                  direcao  lucro_medio
0                        'Evil' Ted Smith          NaN
1                 'Philthy' Phil Phillips          NaN
2                            A. Dean Bell          NaN
3                    A. Edward Sutherland          NaN
4      A. Edward Sutherland, John Rawlins          NaN
...                                   ...          ...
12453                       Zoran Lisinac    -245414.0
12454                                mink          NaN
12455                    Édouard Molinaro          NaN
12456                         Éric Rochat          NaN
12457                       Özgür Dogruöz          NaN

[12458 rows x 2 columns]

In [19]:
imdb_com_lucro = pd.merge(imdb, lucro_direcao, how = "left", on = ["direcao"])

In [20]:
(imdb_com_lucro.
    assign(lucro = lambda x: x.receita - x.orcamento).
    filter(["titulo", "lucro", "lucro_medio"])
)

                          titulo        lucro   lucro_medio
0                       Prestige          NaN           NaN
1                       Nob Hill          NaN -2.966627e+06
2                      The Shade          NaN           NaN
3      Viewer Discretion Advised          NaN           NaN
4                 Broadcast News   47331309.0  4.774942e+07
...                          ...          ...           ...
28485    Jumanji: The Next Level  671575993.0  1.603053e+08
28486      Monster on the Campus          NaN -7.474200e+05
28487                   The Ward   -4656180.0  4.323364e+06
28488            A Game of Death          NaN  9.940914e+07
28489                    Swimfan   24411240.0  2.441124e+07

[28490 rows x 3 columns]